In [1]:
import pandas as pd
import json

In [2]:
pairs = {eval(k): v for k,v in dict(json.loads(open("data/info/pairs.json", "r").read())).items()}
pairs

{('ADX', 'TY'): 0.8539380327563971,
 ('ED', 'SO'): 0.7630684874944207,
 ('AEG', 'ING'): 0.7714520075739352,
 ('GOLD', 'NEM'): 0.8219942738925278,
 ('AVB', 'EQR'): 0.879395970763555,
 ('AMAT', 'KLAC'): 0.8120695737012464,
 ('APA', 'DVN'): 0.7797792476877008,
 ('ARW', 'AVT'): 0.7573572809697451,
 ('CMA', 'TFC'): 0.8089975731028234,
 ('GFI', 'HMY'): 0.7721582569255595,
 ('BAC', 'WFC'): 0.8033690173291778,
 ('BBVA', 'SAN'): 0.8696850472212162,
 ('HIW', 'KRC'): 0.8127703503053662,
 ('BEN', 'TROW'): 0.7533682238215742,
 ('BK', 'NTRS'): 0.7853258913226913,
 ('HAL', 'SLB'): 0.7707796186167691,
 ('BMO', 'RY'): 0.8112242039378242,
 ('E', 'TOT'): 0.8145755191770804,
 ('BXP', 'VNO'): 0.8658210794631465,
 ('CCL', 'RCL'): 0.7796060552389763,
 ('CM', 'TD'): 0.7955914189601664,
 ('CVX', 'XOM'): 0.8257217084673482,
 ('CPT', 'UDR'): 0.8316230793128876,
 ('CSX', 'NSC'): 0.7742776736629656,
 ('CUZ', 'WRE'): 0.7571898765118471,
 ('DHI', 'LEN'): 0.8014581762215895,
 ('DRE', 'PLD'): 0.8245693361216795,
 ('ELS', 'MAA'): 0.7659284003867947,
 ('FITB', 'RF'): 0.7801984039071111,
 ('FULT', 'VLY'): 0.7611300266320306,
 ('GAM', 'USA'): 0.7820430034018234,
 ('MRO', 'MUR'): 0.772800808764896,
 ('HP', 'PTEN'): 0.7833012137949702,
 ('HQH', 'HQL'): 0.8482150255524407,
 ('PEAK', 'WELL'): 0.7897036211143442,
 ('IAC', 'MTCH'): 0.9674580758015782,
 ('IFN', 'IIF'): 0.8533504833267727,
 ('PNC', 'USB'): 0.7643275018403539,
 ('KBH', 'PHM'): 0.8162174604432753,
 ('KIM', 'WRI'): 0.8623789654330055,
 ('LSI', 'PSA'): 0.7547237663505221,
 ('NNN', 'O'): 0.8132656275094473,
 ('RMT', 'RVT'): 0.7862653645997316,
 ('FRT', 'REG'): 0.849187443595806,
 ('TDS', 'USM'): 0.7688911246354361,
 ('ASA', 'AU'): 0.7503743272154123,
 ('COP', 'PEO'): 0.7727677803175971,
 ('HES', 'OXY'): 0.7534678142185177,
 ('MAC', 'SPG'): 0.7770364230826251}

In [3]:
pair = ('ADX', 'TY')
pair_df = pd.DataFrame(index=pd.date_range(start="1999-01-04", end="2021-03-01", 
                                           freq=pd.tseries.offsets.BDay(), name="Date"))  # business dates
for ticker in pair:
    df = pd.read_pickle("data/raw/" + ticker + ".zip")  # needs pickle5 compression (python 3.8)
    for column in df.columns:
        pair_df[ticker + ": " + column] = df[column]

pair_df = pair_df.fillna(method='ffill')

# this is the target column: when diff > 1, return is greater for pair[0], else return is greater for pair[1]
pair_df["Return Diff"] = pair_df[pair[0] + ": Simple Return"] - pair_df[pair[1] + ": Simple Return"]

pair_df

,ADX: High,ADX: Low,ADX: Open,ADX: Close,ADX: Volume,ADX: Adj Close,ADX: Simple Return,ADX: Log Return,TY: High,TY: Low,TY: Open,TY: Close,TY: Volume,TY: Adj Close,TY: Simple Return,TY: Log Return,Return Diff
Date,,,,,,,,,,,,,,,,,
1999-01-04,18.000000,17.666668,17.666668,17.750000,80850.0,4.047894,NaN,NaN,28.875000,28.437500,28.500000,28.437500,107900.0,9.191355,NaN,NaN,NaN
1999-01-05,17.958332,17.750000,17.750000,17.916668,75300.0,4.085901,0.009302,0.009346,28.875000,28.375000,28.500000,28.750000,67400.0,9.292361,0.010870,0.010929,-0.001568
1999-01-06,18.333332,18.000000,18.000000,18.291668,118500.0,4.171421,0.020501,0.020714,29.500000,28.937500,28.937500,29.187500,111800.0,9.433767,0.014989,0.015103,0.005512
1999-01-07,18.208332,18.041668,18.083332,18.166668,111300.0,4.142914,-0.006881,-0.006857,29.437500,29.062500,29.062500,29.125000,73800.0,9.413568,-0.002146,-0.002144,-0.004735
1999-01-08,18.375000,18.083332,18.208332,18.250000,149550.0,4.161918,0.004566,0.004576,29.500000,29.062500,29.375000,29.062500,83600.0,9.393365,-0.002151,-0.002148,0.006717
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-23,17.860001,17.580000,17.780001,17.799999,212900.0,17.799999,-0.001124,-0.001123,31.139999,30.570000,31.040001,31.000000,46500.0,30.762947,-0.001290,-0.001290,0.000167
2021-02-24,18.020000,17.650000,17.750000,18.020000,225300.0,18.020000,0.012209,0.012284,31.370001,30.950001,30.950001,31.270000,48400.0,31.030884,0.008635,0.008672,0.003574
2021-02-25,18.049999,17.530001,17.969999,17.650000,147200.0,17.650000,-0.020963,-0.020747,31.450001,30.770000,31.320000,30.879999,62500.0,30.643864,-0.012630,-0.012551,-0.008334
2021-02-26,17.809999,17.559999,17.790001,17.590000,212100.0,17.590000,-0.003411,-0.003405,31.080000,30.700001,30.969999,30.860001,27600.0,30.624018,-0.000648,-0.000648,-0.002763
2021-03-01,17.980000,17.750000,17.750000,17.930000,155800.0,17.930000,0.018963,0.019145,31.400000,31.040001,31.129999,31.260000,78400.0,31.020960,0.012796,0.012879,0.006167